/*reset*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    
}



#filtro{

    opacity: 0.8;
    margin-top: 16vh;
    width: 100%;
    height: 59vh;
    padding: 20px 20px;
    position: absolute;
    z-index: 1;
    justify-content: space-between;  
}


/*MENU*/

.container{
    display: flex;
    margin: auto;
    width: 100%;
    min-width: 320px;
}
.menu{
    background: #2a2a2a;
    opacity: 0.8;
    width: 100%;
    padding: 20px 20px;
    position: absolute;
    z-index: 50;
    justify-content: space-between;  
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.opcoes{
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-right: 180px;

}

.opcoes li a{
    margin: 10px;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
}

.header{
    color: #fff;
    height: 30rem;
}

/*FILTRO*/

.header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    opacity: 0.5;
    background-image: linear-gradient(to right, rgba(0,0,0.7), rgba(0,0,0.4));
    z-index: 50;
    

}

/*VIDEO DE APRESENTAÇÃO*/

.video-container{
    width: 100%;
    height: 90%;
    position: absolute;
    top: -5;
    left: 0;
  
    /* 
    position: absolute; /*ARRUMA ISSO AQUI*/
    overflow:hidden; 
    
}

 #video-bg{
    width: 100%;
    
}  


/* Text and Button */

.title{
    font-weight: 900;
    color: white;
    font-size: 8rem;
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.txt{
    
    color: white;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Line*/

hr.solid {
    border-top: 3px solid #fff;
    z-index: 100;
    width: 50%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.inc{

    z-index: 100;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;

}

.btn{
    /*element stylization */
    margin-top: 20px;
    width: 178px;
    height: 63px;
    background: #CD3E3E;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    padding: 1.5rem;
    text-decoration: none;
   
    /*element position*/
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    transition: all .2s;
  
    /* flex for align text*/
   display: flex;
   justify-content: center;
   align-items: center;
}


.btn:hover{
    background-color: #922d2d ;
    color: #fff;
}



/*Sobre*/



 #sobre{
    margin-top: 180px;
    font-size: 30px;
    color: black;
    text-align: center;

}

.txt-sobre{
    margin-top: 46px;
    font-size: 17px;
    display: block;
    padding: 50;
    text-align:justify;
    display: block;
    margin-left: 180px;
    margin-right: 600px;
}