/*reset*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/*FILTRO*/

#filtro{
    background: #3E3D3D;
    opacity: 0.8;
    margin-top: 16vh;
    width: 100%;
    height: 59vh;
    padding: 20px 20px;
    position: absolute;
    z-index: 1;
    justify-content: space-between;  
}


/*MENU*/

.container{
    display: flex;
    margin: auto;
    width: 100%;
    min-width: 320px;
}
.menu{
    background: #2a2a2a;
    opacity: 0.8;
    width: 100%;
    padding: 20px 20px;
    position: absolute;
    z-index: 1;
    justify-content: space-between;  
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.opcoes{
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-right: 180px;

}

.opcoes li a{
    margin: 10px;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
}

header{
    color: #fff;
}

/*VIDEO DE APRESENTAÇÃO*/

.video-container{
    width:100%;
    height: 75%;
    position: absolute; /*ARRUMA ISSO AQUI*/
    overflow:hidden;
}

#video-bg{
    width: 100%;
} 


/* Botão */

.botao{
    position: absolute;
    width: 178px;
    height: 73px;
    background: #CD3E3E;
    border-radius: 15px;
}



/*Sobre*/

